################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Inheritance and Method Overriding/bin/Debug
/Inheritance and Method Overriding/obj
